<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Labeling</title>
</head>
<body>
    <h1>Please label these websites.</h1>
    <form action="http://localhost:5050/labeling" method="post" class="labeling-form">
        <table>
            <thead>
                <tr>
                    <th>Website</th>
                    <th>Productive</th>
                    <th>Not productive</th> 
                </tr>
            </thead>
            <tbody>
                <!-- how come no enumerate ?? -->
                {% for website in websites %}
                    <tr>
                        <td><a href="{{ website }}">{{ website }}</a></td>
                        <td><input type="radio" name="lbl{{ loop.index }}" value="productive"></td>
                        <td><input type="radio" name="lbl{{ loop.index }}" value="wasted"></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <div>
            <button>Submit</button>
        </div>
    </form>
</body>
</html>
